.register-container{
    margin-top: 50px;
    width: auto;
    height: auto;
    display: block;
    justify-items: center;
    align-items: center;
}

.register-form{
    width: 300px; 
    background: #ebe6e6;
    border-radius: 5px;
}

.register-title {
    font-weight: bolder;
    font-size: x-large;
    padding: 15px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.login-link-btn {
    font-weight: bolder;
    font-size: 10px;
    padding: 0 0 10px;
    width: 300px;
    text-align: center;

    a {
        font-size: 12px;
        color: rgb(0, 42, 3);
    }

    a:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}