<div class="login-container">
    <div class="login-form">
        <div class="login-title">Login</div>
        <div>
            <form (submit)="login()">
                <input type="email" placeholder="Email" [(ngModel)]="username" name="email" required />
                <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required />
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="register-link-btn">
            <p>Don't have an account? <a routerLink="/register">Register here</a></p>
        </div>
    </div>
</div>